html
{
    height:100%;
    margin:0;
    padding:0;
    background: #222222; /* Old browsers */
}

body
{
    height:100%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    padding:0;
    margin:0;
    background: #222222; /* Old browsers */
    background: linear-gradient(to bottom,  #424242 25%,#222222 75%); /* W3C */
}

*
{
    outline:none;
}

div.wrapper
{
    width: 90%px;
    min-width: 640px;
    padding:0 0 30px 0;
    margin:0 auto;
}

header,
div,
p,
footer
{
    display:block;
    padding:0;
    margin:0;
}

p.info
{
    padding:0 0 0 55px;
    margin:0 0 -35px 0;
}

header
{
    height:90px;
    box-shadow:0 0 16px #000;
    background: #133e4e; /* Old browsers */
    background: linear-gradient(to bottom,  #133e4e 0%,#01070b 100%); /* W3C */
}

div.prio-logo
{
    width:420px;
    height:86px;
    margin:0;
    padding:0;
    background:transparent url('../images/easy-security.png') left top no-repeat;
}

div.rtc-logo
{
    width:200px;
    height:60px;
    float:right;
    clear:none;
    margin:14px 30px 0 0;
    padding:0;
    background:transparent url('../images/easyrtc-power.png') left top no-repeat;
}

div.video-feeds
{
    min-height:185px;
    box-shadow:0 0 16px #000;
    border:#01070b solid 1px;
    border-radius:0 0 6px 6px;
    padding:16px 0 40px 0;
    margin:0;
    background-color:#d9dada;
}

div#monitors
{
    margin-top:16px;
}

/* div.video-feed */
div.monitor
{
    width:180px;
    height:134px;
    overflow:hidden;
    float:left;
    clear:none;
    position:relative;
    border-radius:6px;
    border:7px solid #5c5c5c;

    padding:0;
    margin:37px 16px 0 50px;
    background-color:#000;
}

video
{
    margin:0;
    padding:0;
}

img
{
    margin:0;
    padding:0;
    border-style:none;
}

div.monitor p
{
    font-size:12px;
    text-align:center;
    padding:4px 0 0 0;
    margin:0;
}

div.clear
{
    clear:both;
}

div.icon-full
{
    display:inline-block;
    width:30px;
    height:29px;
    position:absolute;
    right:0px;
    top: 0px;
    background:transparent url('../images/icon-fullscreen.png') center top no-repeat;
}

div.icon-full.large
{
}

div.icon-full.large.play
{
}

div.icon-play
{
    display:inline-block;
    width:52px;
    height:50px;
    position:absolute;
    top:50%;
    margin-top: -25px;
    left:50%;
    margin-left:-26px;
    background:transparent url('../images/icon-play.png');
}


div.icon-pause
{
    display:inline-block;
    width:52px;
    height:50px;
    position:absolute;
    top:50%;
    margin-top: -25px;
    left:50%;
    margin-left:-26px;
    background:transparent url('../images/icon-pause.png');
}



div.icon-full,
div.icon-play,
div.icon-pause
{
    cursor:pointer;
    opacity:0.7;
    z-index: 3;
}

div.icon-full:hover,
div.icon-play:hover,
div.icon-pause:hover
{
    cursor:pointer;
    opacity:1.0;
}

div.hidden
{
    display:none;
}

.monitor
{
	width: 180px;
}

.video
{
    width: 100%;
	height:100%;
	margin:0;
}

.snapshot
{
	position:absolute;
	top:0px;
    left:0px;
    width: 100%;
    height:100%;
	margin:0;
    z-index:2;
}

.monitor:-webkit-full-screen {
  width: 100% !important;
}
.monitor:-moz-full-screen {
  width: 100% !important;
}

/* Micro Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
#monitors:before,
#monitors:after {
    content: " ";
    display: table;
}
#monitors:after {
    clear: both;
}
